<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'cate.css' %}"/>
    
    <title>Document</title>
</head>
<body>
    <h1> {{ cate_type }}</h1>
    {% for post in posts %}
    <li>
        <a href="{% url 'detail' post.pk %}">{{ post.title }}</a> 
    </li>
    {% endfor %}

    <a href="{% url 'new' %}"> 글 작성하기 </a>
    <a href="{% url 'home' %}">홈으로</a>
</body>
</html>