<!DOCTYPE html>
<html lang="en">
<head>
    {% load account socialaccount %}
    {% providers_media_js %}
    {% load tz %}
    <meta charset="UTF-8">
    {% load static %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}"/>
    <title>Document</title>
</head>
<body class="all">
    <nav id="navbar">
          {% if user.is_authenticated %}
          <span class="navbar__menu__item">안녕, {{user.username}}</span>
          <li style="list-style: none"class="navbar__menu__item">
            <a href="{% url 'logout'%}">로그아웃</a>
          </li>
          
          {% else %}
          <li style="list-style: none"class="navbar__menu__item">
            <a href="{% url 'login'%}">로그인</a>
          </li>
          <li style="list-style: none" class="navbar__menu__item">
            <a href="{% url 'signup'%}">회원가입</a>
          </li>
          <li style="list-style: none"class="navbar__menu__item">
            <form
            method = "POST" 
            action="{% provider_login_url 'kakao' %}"
            >
            {% csrf_token %} {{ form.as_p }} 
            {% if redirect_field_value %}
            <input
            type ="hidden"
            name="{{ redirect_field_name }}"
            value="{{ redirect_field_value }}"
            />
            {% endif %}
            <button class = "primaryAction" 
            type="submit"><img class= 'kk' src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMTAzMjNfMjA3%2FMDAxNjE2NTA3NzYxNzg4.25TSMBzEqbG_srIKEYQhQcL8STlxxoUgOWp0RVyzjJog.18TPASgulDXibceT_ggnc3wR1k5O-sNlP4ArCZLRdKIg.JPEG.silver_bean_%2F%25B4%25EB%25C1%25F6_1-100.jpg&type=sc960_832"/></button>
            </form>          
          </li>
          <li style="list-style: none" class="navbar__menu__item">
            <form
            method = "POST" 
            action="{% provider_login_url 'google' %}">
            {% csrf_token %} {{ form.as_p }} {% if redirect_field_value %}
            <input
            type ="hidden"
            name="{{ redirect_field_name }}"
            value="{{ redirect_field_value }}"/>
            {% endif %}
            <button class = "primaryAction" 
            type="submit"><img class='gg' src='https://search.pstatic.net/sunny/?src=https%3A%2F%2Fi.pinimg.com%2Foriginals%2F13%2F3d%2F65%2F133d655dc17a78d01ca64d6d7b258b7f.png&type=sc960_832'/></button>
            </form>
            
          </li>
          {% endif %}
        </ul>
    </nav>
    <div> 
        <h1 class= 'bighead'><strong>To Do LIST</strong></h1>
        <h3 class="zip">게시글 모아보기</h3>
        <img class="fish" src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjA2MjRfODQg%2FMDAxNjU2MDI4NzI3MjQz.Dr097XPFdXqVJMuC8gmi2nb_8cx1X5wMgLftCmxPv3Ig.kokp15Ixui10RQg5u2KETchug9Ux6qBMoSzduyqnXS4g.JPEG.chohansae419%2F20220621_155807.jpg&type=sc960_832"/>
        <div class="ul">
           {% for post in posts %}
            <div class="list"><li class="ul" style="list-style: none">
                <a href="{% url 'detail' post.pk %}"><input type='checkbox'>{{ post.title }} </a> | D-{{ post.days_left }} | 
                </li>
             {% endfor %}</div>
        </div>
    </div>
    <div class="new">
    <a href="{% url 'new' %}"> 글 작성하기 </a></div>
</body>
</html>