<!DOCTYPE html>
<html lang="en">
<head>
    {% load tz %}
    <meta charset="UTF-8">
    {% load static %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}"/>
    <title>Document</title>
</head>
<body class="all">
    
            <h1 class= 'bighead'><strong>To Do LIST</strong></h1>
            <h3 class="zip">게시글 모아보기</h3>

            <div class="img">
              <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjA5MjVfNTcg%2FMDAxNjY0MTAwMjY5MTg3.3Adq5oHkXe3_J7qlJL0EPVscscu_t2Brphtvoh67uDwg._cssvqKcGrilQUyrzn0DwFMzaW78xosPhzXPsacSMCEg.JPEG.2908_hj%2Foutput_3839650818.jpg&type=sc960_832"/>
            </div>

            <div class="ul">
                {% for post in posts %}
                <div class="list"><li class="ul" style="list-style: none">
                    <a href="{% url 'detail' post.pk %}"><input type='checkbox'>{{ post.title }} </a> | D-{{ post.days_left }} | 
                </li>
                {% endfor %}</div>
            </div>

    <div class="new">
    <a href="{% url 'new' %}"> 글 작성하기 </a></div>
</body>
</html>