<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'page.css' %}"/>
</head>
<body>
    <h1 class="title"> 안녕하세요! 채윤석입니다.<br></h1>
    <h5 class="little"> 최가 아니라, 야채할 때 채 입니다 <br> 요즘 일본 밴드 Backnumber가 좋아요.</h5>
    <img class="wo" src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAxNzA3MThfMjgz%2FMDAxNTAwMzYyMjM1Mzg3.iQV366RvYa3oJKFfCZhkHRI2L5ODjXBmcLncosYf-zYg.IXE0vy14Bn2rvU-3Tt_cn3dHt4vhR0Rc0PsBtd4e8Ucg.JPEG.910727cm%2Foas.jpg&type=sc960_832">
    <a href="project" class="pro"> PROJECT</a>
    <a href="page" span class="pro2"> INFO</a>


</body>
</html>
