<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'project.css' %}"/>

</head>
<body>
    <a href="project" class= "pro"> PROJECT</a>
    <a href="page" class="pro2"> INFO</a>
    <img class="pic" src="https://github.com/chaeys2000/NEWHW/blob/master/gdg.png?raw=true"/>
    <img class="pic2" src="https://github.com/chaeys2000/NEWHW/blob/master/pandas%20hw.png?raw=true"/>
    <div class="welcome"><span>Welcome to my workspace</span></div>
</body>
</html>
